.hero-slider .swiper-container {
  position: relative;
  z-index: 0;
}

.hero-slider .swiper-container .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  color: white;
  font-size: 0.8rem;
  text-shadow: 2px  2px 1px #003366, -2px  2px 1px #003366, 2px -2px 1px #003366, -2px -2px 1px #003366, 2px  0px 1px #003366, 0px  2px 1px #003366, -2px  0px 1px #003366, 0px -2px 1px #003366;
}

.hero-slider .swiper-container .scroll-induction {
  position: absolute;
  bottom: 1%;
  left: 50%;
  width: 60px;
  height: 80px;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
}

.hero-slider .swiper-container .scroll-induction img {
  -webkit-animation-name: kf-arrow;
          animation-name: kf-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
}

.hero-slider .swiper-container .scroll-induction h3 {
  right: 0;
  -webkit-transform: rotate(90deg) translate(30px, 10px);
          transform: rotate(90deg) translate(30px, 10px);
  color: white;
  font-size: 0.8rem;
}

.hero-slider .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}

@-webkit-keyframes kf-arrow {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@keyframes kf-arrow {
  0% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}

@media (min-width: 1024px) {
  .hero-slider {
    margin-top: 120px;
  }
  .hero-slider .swiper-container .main-title {
    font-size: 1.5rem;
  }
  .hero-slider .swiper-container .scroll-induction h3 {
    font-size: 0.5rem;
  }
}

:root {
  font-size: 30px;
}

body {
  background-color: white;
}

.pd-lr, #global-container .main-contents #profile, #global-container .main-contents #skills, #global-container .main-contents #works, #global-container .main-contents #portfolio, #global-container .main-contents #contact {
  padding: 100px 0;
}

.mg-sm, #global-container .main-contents #skills .main-title, #global-container .main-contents #works .works-inner .works-list .works-container .works-detail, #global-container .main-contents #portfolio .portfolio-inner .main-title, #global-container .main-contents #portfolio .portfolio-inner .sub-title, #global-container .main-contents #contact .contact-inner .main-title {
  margin: 30px 0;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.header .header-nav .header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.9rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header .header-nav .header-nav__inner .header-nav__item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.header .header-nav .header-nav__inner .header-nav__item a {
  text-decoration: none;
  color: black;
}

.header .header-nav .menu-open.header-nav__inner {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#global-container {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

#global-container .mobile-menu-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
}

#global-container .hamburger-menu {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  cursor: pointer;
}

#global-container .hamburger-menu > span {
  display: block;
  width: 40px;
  height: 3px;
  background-color: black;
  margin-bottom: 12px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#global-container .hamburger-menu > span:last-child {
  margin-bottom: 0;
}

#global-container .main-contents #profile {
  width: 90%;
  margin: 5%;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#global-container .main-contents #profile .main-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

#global-container .main-contents #profile .profile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#global-container .main-contents #profile .profile-inner .profile-icon__wrap {
  width: 50%;
}

#global-container .main-contents #profile .profile-inner .profile-icon__wrap img {
  width: 100%;
  border-radius: 50%;
}

#global-container .main-contents #profile .profile-inner .profile-list {
  width: 80%;
}

#global-container .main-contents #profile .profile-inner .profile-list .profile-detail {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

#global-container .main-contents #skills {
  width: 90%;
  margin: 5%;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#global-container .main-contents #skills .main-title {
  font-size: 1.5rem;
  text-align: center;
}

#global-container .main-contents #skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#global-container .main-contents #skills .skills-container .skills-item {
  -ms-flex-preferred-size: calc(100% / 3 - 10px);
      flex-basis: calc(100% / 3 - 10px);
}

#global-container .main-contents #skills .skills-container .skills-item img {
  width: 100%;
}

#global-container .main-contents #works {
  background-color: #55e7de;
}

#global-container .main-contents #works .works-inner {
  width: 90%;
  margin: 5%;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#global-container .main-contents #works .works-inner .main-title {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
}

#global-container .main-contents #works .works-inner .works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#global-container .main-contents #works .works-inner .works-list .works-container .sub-title {
  font-size: 1rem;
  text-align: center;
}

#global-container .main-contents #works .works-inner .works-list .works-container .works-detail {
  font-size: 0.8rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#global-container .main-contents #works .works-inner .works-list .works-container .image-wrap {
  background-color: white;
  border-radius: 50%;
  position: relative;
  padding-top: 55%;
  width: 55%;
  margin: 30px auto;
}

#global-container .main-contents #works .works-inner .works-list .works-container .image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#global-container .main-contents #works .works-inner .works-list .works-container:nth-child(1) .image-wrap img {
  width: 82%;
  height: 82%;
}

#global-container .main-contents #portfolio {
  width: 90%;
  margin: 5%;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#global-container .main-contents #portfolio .portfolio-inner .main-title {
  font-size: 1.5rem;
  text-align: center;
}

#global-container .main-contents #portfolio .portfolio-inner .sub-title {
  font-size: 1rem;
}

#global-container .main-contents #portfolio .portfolio-inner .portfolio-image {
  width: 80%;
  margin: auto;
}

#global-container .main-contents #portfolio .portfolio-inner .portfolio-image img {
  width: 100%;
}

#global-container .main-contents #contact {
  background-color: #f8e4e4;
  padding: 10px 0;
  margin-bottom: 0;
}

#global-container .main-contents #contact .contact-inner {
  width: 90%;
  margin: 5%;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#global-container .main-contents #contact .contact-inner .main-title {
  font-size: 1.5rem;
  text-align: center;
}

#global-container .main-contents #contact .contact-inner .contact-induction {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

#global-container .main-contents #contact .contact-inner .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#global-container .main-contents #contact .contact-inner .contact-list .contact-method {
  -ms-flex-preferred-size: calc(100% / 4 - 80px);
      flex-basis: calc(100% / 4 - 80px);
  max-width: 100px;
}

#global-container .main-contents #contact .contact-inner .contact-list .contact-method a img {
  width: 100%;
}

#global-container .main-contents #contact .contact-inner .contact-list .contact-method:last-child a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#global-container .footer {
  background-color: #f8e4e4;
}

#global-container .footer .copyright {
  font-size: 0.6rem;
  text-align: center;
}

.menu-open#global-container {
  -webkit-transform: translate(-150px, 80px);
          transform: translate(-150px, 80px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.menu-open#global-container .mobile-menu-cover {
  visibility: visible;
}

.menu-open#global-container .hamburger-menu > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(15px) rotate(-135deg);
          transform: translateY(15px) rotate(-135deg);
}

.menu-open#global-container .hamburger-menu > span:nth-child(2) {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transform: translateX(-40px) scaleX(0);
          transform: translateX(-40px) scaleX(0);
}

.menu-open#global-container .hamburger-menu > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-16px) rotate(135deg);
          transform: translateY(-16px) rotate(135deg);
}

#global-container .main-contents .inview#profile,
#global-container .main-contents .inview#skills,
#global-container .main-contents .inview#portfolio {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#global-container .main-contents .inview#works .works-inner {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#global-container .main-contents .inview#contact .contact-inner {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

@media (min-width: 768px) {
  .header {
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .header .header-nav {
    background-color: gray;
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0;
  }
  .header .header-nav .header-nav__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .triggered.header .header-nav {
    background-color: rgba(128, 128, 128, 0.6);
  }
  #global-container .hamburger-menu {
    display: none;
  }
  #global-container .main-contents #works .works-inner {
    max-width: 1280px;
    margin: auto;
  }
  #global-container .main-contents #works .works-inner .works-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #global-container .main-contents #works .works-inner .works-list .works-container {
    width: 50%;
  }
  #global-container .main-contents #contact {
    margin-bottom: 0;
  }
  #global-container .main-contents #contact .contact-inner {
    max-width: 1280px;
    margin: auto;
  }
  #global-container .main-contents #contact .contact-inner .contact-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #global-container .main-contents #contact .contact-inner .contact-list .contact-method {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    max-width: 100px;
    margin: 0 50px;
  }
}

@media (min-width: 1024px) {
  :root {
    font-size: 44px;
  }
  #global-container .hamburger-menu {
    display: none;
  }
  #global-container .main-contents #profile {
    margin: auto;
    max-width: 1280px;
  }
  #global-container .main-contents #profile .profile-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #global-container .main-contents #profile .profile-inner .profile-icon__wrap {
    width: 35%;
  }
  #global-container .main-contents #profile .profile-inner .profile-list {
    width: 45%;
  }
  #global-container .main-contents #skills {
    margin: auto;
    max-width: 1280px;
  }
  #global-container .main-contents #portfolio {
    margin: auto;
    max-width: 1280px;
  }
  #global-container .main-contents #portfolio .portfolio-inner .sub-title {
    text-align: center;
  }
  #global-container .footer .copyright {
    max-width: 1280px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */