// ヒーロースライダー
.hero-slider {
    .swiper-container {
        position: relative;
        z-index: 0;

        //スクロール誘導のための矢印と文字 
        .scroll-induction {
            position: absolute;
            bottom: 5%;
            left: 50%;
            width: 60px;
            height: 80px;
            transform: translate(-50%, -50%);
            pointer-events: none;
            z-index: 2;
            overflow: hidden;

            img {
                animation-name: kf-arrow;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                position: absolute;
                top: -20px;
            }

            h3 {
                right: 0;
                transform: rotate(90deg) translate(30px, 10px);
                color: white;
                font-size: 0.8rem;
            }
        }
        .swiper-wrapper {
            .swiper-slide {
                img {
                    width: 100%;
                }
            }
        }
    }
}

// 矢のアニメーション
@keyframes kf-arrow {
    0% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}